html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('https://t3.ftcdn.net/jpg/02/42/75/76/360_F_242757656_LYhzT9Kzxb5XdOsNY6SYSyroxMzZBeRN.jpg');
  background-repeat: repeat;
}


.content {
  flex-grow: 1;
  overflow: auto;
}

/* navbar */
.navbar_style{
  background-color: rgba(156,174,250,255);
}

footer{
  text-align: center;
  background-color: rgba(156,174,250,255);
}



.banner {
    background-image: url("https://pbs.twimg.com/media/F8VXne9W4AI6UWw.jpg:large");
    background-size: cover;
    background-position: center;
    position: static;
}
.cardGame{
  margin: 1em;
}

.button_cards{
  display: flex;
  justify-content: space-between;
}

.not-found-container {
  text-align: center;
  padding: 50px;
  background-color: aliceblue;
  margin-top: 5em;
  margin-left: 40em;
  margin-right: 40em;
  border-radius: 10px;
}

.h1_comodin {
  font-size: 100px;
  color: #ff6b6b;
}

.p_comodin {
  font-size: 24px;
  color: #333;
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #3498db;
  border: 2px solid #3498db;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #3498db;
  color: white;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */