html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('https://t3.ftcdn.net/jpg/02/42/75/76/360_F_242757656_LYhzT9Kzxb5XdOsNY6SYSyroxMzZBeRN.jpg');
  background-repeat: repeat;
}


.content {
  flex-grow: 1;
  overflow: auto;
}

/* navbar */
.navbar_style{
  background-color: rgba(156,174,250,255);
}

footer{
  text-align: center;
  background-color: rgba(156,174,250,255);
}



.banner {
    background-image: url("https://pbs.twimg.com/media/F8VXne9W4AI6UWw.jpg:large");
    background-size: cover;
    background-position: center;
    position: static;
    margin-bottom: 8em;
}
.banner_style{
  background-color: rgba(156, 174, 250, 0.75);
  margin-left: 20em;
  margin-right: 20em;
  border-radius: 20px;
}
.cardGame{
  margin: 1em;
}

.button_cards{
  display: flex;
  justify-content: space-between;
}

/* src/pages/ComodinPage.css */
.not-found-container {
  height: 100vh;
  background-color: #f8f9fa;
  text-align: center;
}

.h1_comodin {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #343a40;
}

.p_comodin {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #6c757d;
}

.home-link {
  font-size: 1.2rem;
  padding: 10px 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .h1_comodin {
    font-size: 6rem;
  }

  .p_comodin {
    font-size: 1.2rem;
  }

  .home-link {
    font-size: 1rem;
  }
}
